@model IEnumerable<AtelerSalakhutdinova.Models.Аксессуары>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<body>
    </body>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_аксессуара)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Наименование_аксессуара)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Тип)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_аксессуара)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Наименование_аксессуара)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Тип)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
