@model AtelerSalakhutdinova.Models.Заказ

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Заказ</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Состояние.Примечания)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Состояние.Примечания)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Клиент.Фамилия)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Клиент.Фамилия)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Доставка.ID_доставки)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Доставка.ID_доставки)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_сотрудника)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_сотрудника)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Выкройки.Модель)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Выкройки.Модель)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Цена_заказа)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Цена_заказа)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Предоплата)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Предоплата)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Дата_заказа)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Дата_заказа)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Срочность)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Срочность)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
