@model IEnumerable<AtelerSalakhutdinova.Models.СкладТканей>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.СведенияОТканях.Страна_производитель)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Наименование_ткани)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Количество_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Состав_ткани)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Цвет)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Цена)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.СведенияОТканях.Страна_производитель)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Наименование_ткани)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Количество_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Состав_ткани)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Цвет)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Цена)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
