@model IEnumerable<AtelerSalakhutdinova.Models.Бухгалтерия>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_зарплаты)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Сотрудник.Фамилия)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Зарплата)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Премия)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Дата_зарплаты)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_зарплаты)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Сотрудник.Фамилия)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Зарплата)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Премия)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Дата_зарплаты)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
