@model AtelerSalakhutdinova.Models.Выкройки

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Выкройки</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_выкройки)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_выкройки)
            @Html.ValidationMessageFor(model => model.ID_выкройки)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Модель)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Модель)
            @Html.ValidationMessageFor(model => model.Модель)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_мерки, "Мерки")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ID_мерки", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_мерки)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_ткани, "СкладТканей")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ID_ткани", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_ткани)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_аксессуара, "Аксессуары")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ID_аксессуара", String.Empty)
            @Html.ValidationMessageFor(model => model.ID_аксессуара)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Количество_ткани)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Количество_ткани)
            @Html.ValidationMessageFor(model => model.Количество_ткани)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
