@model AtelerSalakhutdinova.Models.Выкройки

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Выкройки</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_выкройки)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_выкройки)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Модель)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Модель)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Мерки.Примечания)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Мерки.Примечания)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.СкладТканей.Наименование_ткани)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.СкладТканей.Наименование_ткани)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Аксессуары.Наименование_аксессуара)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Аксессуары.Наименование_аксессуара)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Количество_ткани)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Количество_ткани)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
