@model AtelerSalakhutdinova.Models.Сотрудник

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Сотрудник</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_сотрудника)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_сотрудника)
            @Html.ValidationMessageFor(model => model.ID_сотрудника)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Фамилия)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Фамилия)
            @Html.ValidationMessageFor(model => model.Фамилия)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Имя)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Имя)
            @Html.ValidationMessageFor(model => model.Имя)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Отчество)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Отчество)
            @Html.ValidationMessageFor(model => model.Отчество)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Должность)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Должность)
            @Html.ValidationMessageFor(model => model.Должность)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Дата_приема_на_работу)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Дата_приема_на_работу)
            @Html.ValidationMessageFor(model => model.Дата_приема_на_работу)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Общий_стаж)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Общий_стаж)
            @Html.ValidationMessageFor(model => model.Общий_стаж)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Стаж)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Стаж)
            @Html.ValidationMessageFor(model => model.Стаж)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Доступ_ко_всем_данным)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Доступ_ко_всем_данным)
            @Html.ValidationMessageFor(model => model.Доступ_ко_всем_данным)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.E_mail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.E_mail)
            @Html.ValidationMessageFor(model => model.E_mail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Оклад)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Оклад)
            @Html.ValidationMessageFor(model => model.Оклад)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
