@model AtelerSalakhutdinova.Models.Мерки

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Мерки</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_мерки)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_мерки)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Обхват_груди)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Обхват_груди)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Обхват_талии)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Обхват_талии)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Обхват_бедер)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Обхват_бедер)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Рост)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Рост)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Примечания)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Примечания)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
