@model AtelerSalakhutdinova.Models.Доставка

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Доставка</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_доставки)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_доставки)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Сотрудник.Фамилия)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Сотрудник.Фамилия)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Стоимость_доставки)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Стоимость_доставки)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Дата_доставки)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Дата_доставки)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Время_доставки)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Время_доставки)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
